<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Mock Server Admin Console</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer/">

    <!-- Bootstrap core CSS -->
    <!--<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">-->
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/sticky-footer.css" rel="stylesheet">

</head>

<body>

    <!-- Begin page content -->
    <main role="main" class="container">
        <h1 class="mt-5">Mock Server Admin console</h1>

        <hr />
        <br />

        <div class="row">
            <div class="card col-sm">
                <div class="card-body">
                    <h5 class="card-title">Routes</h5>
                    <div class="card-text">
                        <ul class="list-group my-routes-list" id="my-routes-list">
                        </ul>
                    </div>
                    <a href="#" id="addRoute" class="btn btn-primary">Add Route</a>
                </div>
            </div>
            <div class="card col-sm">
                <h5 class="card-title">Routes file</h5>
                <div class="card-body card-text" id="config-file-card">
                    <pre class="my-routes-config" id="routes-config-file"></pre>
                </div>
            </div>
        </div>
        <hr />
        <br />

        <div class="row">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">ReqID</th>
                        <th scope="col">Request Date</th>
                        <th scope="col">Method</th>
                        <th scope="col">Path</th>
                        <th scope="col">Request</th>
                        <th scope="col">Request Headers</th>
                        <th scope="col">Response</th>
                        <th scope="col">Response Headers</th>
                        <th scope="col">Status Code</th>
                    </tr>
                </thead>
                <tbody id="requests-tbody">
                </tbody>
            </table>
        </div>
    </main>

    <footer class="footer">
        <div class="container">
            <span class="text-muted">It's just a work in progress dashboard for the <a
                    href="https://github.com/Eldius/mock-server-go">Mock Server</a>.</span>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script type="application/javascript" src="/static/index.js"></script>
</body>

</html>
